body{
	background: linear-gradient(to right, red , yellow);
	margin: 0; 
	height: 100%; 
	overflow: hidden;
}

body, .modal-open .page-container, .modal-open .page-container .navbar-fixed-top, .modal-open .modal-container {
    overflow-y: scroll;
}

@media (max-width: 979px) {
    .modal-open .page-container .navbar-fixed-top {
        overflow-y: visible;
    }
}

#map-canvas {
    height: 400px;
}

h1{
	text-align:center; 
	margin-top:50px; 
	font-weight:bold; 
	font-size:80px;
	background: -webkit-linear-gradient(blue, green);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

h3{
	text-align:center; 
	margin-top:30px; 
	font-weight:bold; 
	font-size:35px;
	background: -webkit-linear-gradient(blue, green);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.LabelStyle{
	font-weight:bold; 
	background: -webkit-linear-gradient(black, green);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-weight:bold;
	font-size:20px;
}

.RefreshBtnStyle{
	margin-top: 3px;
	background-color: grey;
	color: black;
}

.MapBtnStyle{
	margin-top: 3px;
	background-color: green;
	color: blue;
}

.selectCity{
	display : inline-block;
}

.DescStyle{
	margin-top: 10px;
}

.EventCreateBtnStyle{
	background-color:LightGreen; 
	color: black;
	width: 100px;
	font-weight:bold;
	font-size:20px;
}

.BackBtnStyle{
	background-color:purple; 
	width: 100px;
	font-weight:bold;
	font-size:20px;
	margin-right: 54px;
	color: black;
}








